@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&family=Roboto:wght@300;400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Protest Riot', sans-serif;
}

.back {
    background-color: #FFC0CB;
}


img {
    max-width: 5%;
}

* {
    box-sizing: border-box;
}
  
nav {
    display: flex;
    justify-content: space-between;
}
  
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
nav li {
    display: inline-block;
}
  
main {
    display: flex;
}
  
.buy {
    flex: 1 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 24px;
    padding: 12px;
    text-align: center;
    border: 1px solid #AA336A;  
}
  
.buy a {
    display: block;
    margin-top: 12px;
    padding: 6px;
    background-color: #AA336A;
    color: white;
}
  

